<div class="welcome-container">
<div class="welcome-header">
	<h1>Carom Café</h1>
	<ul class="welcome-nav">
		<li><a class="anchor" name="1" href="#">Location</a></li>
		<li><a class="anchor" name="2" href="#">Tables</a></li>
		<li><a class="anchor" name="3" href="#">Specials</a></li>
		<li><a class="anchor" name="4" href="#">Contact</a></li>
	</ul>
</div>
</div>

<div class="content">
	<ul class="welcome-info">
		<li id="1">
			<h3>Location & Hours</h3>
			<div id="directions-panel">
				<div class="address-hours">
					<strong>Address:</strong> <br>
					Carom Café Billiards<br>
					34-02 Linden Pl. <br> 
					Flushing, NY 11354 <br>
					<br> 
					<strong>Business Hours:</strong> <br> 
					Sunday-Thursday 9am-3am<br>
					Friday-Saturday 9am-4am<br>
					365 days/year
				</div>
			</div>
			<div id="map-canvas"></div>
			<form id="directions" onsubmit="calcRoute();event.preventDefault();">
				<input type="text" name="origin" id="origin" size="25" placeholder="Directions From...">
				<input type="radio" name="transport-mode" value="DRIVING" checked="checked">Driving
				<input type="radio" name="transport-mode" value="TRANSIT">Transit
			</form>
		</li>
		<li id="2">
			<h3>Table Information</h3>
			<p>table information</p>
		</li>
		<li id="3">
			<h3>Specials & Promotions</h3>
			<p>store specials</p>
		</li>
		<li id="4">
			<h3>Contact</h3>
			<p>phone no. & form for messages</p>
		</li>
	</ul>
</div>