<div class="welcome-header">
	<h1>Carom Café</h1>
	<ul class="welcome-nav">
		<li><a id="address" href="#">Address</a></li>
		<li><a id="tables" href="#">Tables</a></li>
		<li><a id="specials" href="#">Specials</a></li>
		<li><a id="contact" href="#">Contact</a></li>
	</ul>
</div>

<div class="content">
	<ul class="welcome-info">
		<li>
			<h3>Location & Hours</h3>
			<div id="directions-panel"></div>
			<div id="map-canvas"></div>
			<form id="directions" onsubmit="calcRoute();event.preventDefault();">
				Directions From: <input type="text" name="origin" id="origin" size="35">
				<input type="radio" name="transport-mode" value="DRIVING" checked="checked">Driving
				<input type="radio" name="transport-mode" value="TRANSIT">Transit
				<input type="submit" value="Get Directions">
			</form>
		</li>
		<li>
			<h3>Table Information</h3>
			<p>table information</p>
		</li>
		<li>
			<h3>Specials & Promotions</h3>
			<p>store specials</p>
		</li>
		<li>
			<h3>Contact</h3>
			<p>phone no. & form for messages</p>
		</li>
	</ul>
</div>