<section>
	<div class="welcome-header">
		<h1>Carom Cafe</h1>
		<ul class="welcome-nav">
			<li><a id="address" href="#">Address</a></li>
			<li><a id="tables" href="#">Tables</a></li>
			<li><a id="specials" href="#">Specials</a></li>
			<li><a id="contact" href="#">Contact</a></li>
		</ul>
	</div>
	
	<div class="content">
		<ul class="welcome-info">
			<li>
				<h3>Address & Hours</h3>
				<p>google maps api</p>
			</li>
			<li>
				<h3>Table Information</h3>
				<p>table information</p>
			</li>
			<li>
				<h3>Specials & Promotions</h3>
				<p>store specials</p>
			</li>
			<li>
				<h3>Contact</h3>
				<p>phone no. & form for messages</p>
			</li>
		</ul>
	</div>
</section>