<div class="navbar">
	<ul class="leftnav">
		<li class="info" id="news"></li>
		<li class="info" id="menu"></li>
		<li class="info" id="league"></li>
		<li class="info" id="about"></li>
	</ul>
	<ul class="rightnav">
		<li class="option" id=""></li>
		<li class="option" id="login"></li>
		<li class="option" id="logout"></li>
	</ul>
</div>