<section>
	<div class="welcome-header">
		<h1>Carom Cafe</h1>
		<ul class="welcome`-nav">
			<li><a id="address" href="#">Address</a></li>
			<li><a id="tables" href="#">Tables</a></li>
			<li><a id="specials" href="#">Specials</a></li>
			<li><a id="contact" href="#">Contact</a></li>
		</ul>
	</div>
</section>