/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, div, ul, li, p, figure {
	padding:0;
	margin:0;
	border:0;
	list-style-type:none;
}

html, body {
	height:100%;
}

.navbar {
	width:100%;
	min-width:500px;
	height:20px;
	padding:15px 0;
	
	.leftnav {
		float:left;
		padding-left:15px;
	}
	
	.rightnav {
		float:right;
		padding-right:15px;
	}
	
	ul {
		
		li {
			display:inline;
			height:20px;
			
			a {
				color:#404040;
				text-decoration:none;
				font-family: arial,sans-serif;
				font-size:small;
				display:inline-block;
				margin:0 10px;
			}
			
			a:hover {
				text-decoration:underline;
			}
			
		}
	}
}

.banner {
	width:100%;
	height:125px;
	min-width:540px;
	background-image: url(image_path('CoverPicWeb.jpeg'));
	background-size:100%;
	background-repeat:no-repeat;
}

.container {
	margin:auto;
	width:100%;
	max-width:800px;
	background-color:white;
}