/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, div, ul, li, p, figure, h2 {
	padding:0;
	margin:0;
	border:0;
	list-style-type:none;
}

html, body {
	height:100%;
	font-family: Roboto,Arial,sans-serif;
}

//navigation 

.navbar {
	width:100%;
	height:35px;
	padding:15px 0;
	
	.leftnav {
		float:left;
		padding-left:15px;
		height:35px;
		
		#logo {
			padding-right:15px;
			
			a {
				height:35px;
				width:80px;
				background-repeat:no-repeat;
				overflow:visible;
				-webkit-transition: opacity .15s ease-in-out;
			  -moz-transition: opacity .15s ease-in-out;
			  -ms-transition: opacity .15s ease-in-out;
			  -o-transition: opacity .15s ease-in-out;
			  transition: opacity .15s ease-in-out;
			
				img {
					vertical-align:-9px;
				}
			}
			
			a:hover {
				opacity:.7;
				text-decoration:none;
			}
		}
	}
	
	.rightnav {
		float:right;
		padding-right:15px;
		height:35px;
		
		li {
			height:35px;
			a {
				vertical-align:-6px;
				margin:0;
			}
		}
	}
	
	ul {
		height:35px;
		
		li {
			display:inline;
			
			a {
				text-decoration:none;
				font-family: arial,sans-serif;
				font-size:medium;
				margin:0 10px;
			}
			
			a:hover {
				text-decoration:underline;
			}
			
			.hoverable {
				color:black;
				-webkit-transition: all 0.2s ease-in-out;
			}

			.hoverable:hover {
			  color: gray;
			  -webkit-transition: all 0.2s ease-in-out;
				text-decoration:none;
			}
			
			.link-to-devise-button {
				padding:7px 12px;
				text-align:center;
				
				color:white;
				font-weight:600;
				font-size:14px;
			}
			
			.link-to-devise-button:hover {
				text-decoration:none;
				cursor:pointer;
			}
			
			.link-to-devise-button:active {
				background: #2aaf05; /* Old browsers */
				background: -moz-linear-gradient(top, #2aaf05 0%, #398e33 65%, #45843c 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2aaf05), color-stop(65%,#398e33), color-stop(100%,#45843c)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #2aaf05 0%,#398e33 65%,#45843c 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #2aaf05 0%,#398e33 65%,#45843c 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #2aaf05 0%,#398e33 65%,#45843c 100%); /* IE10+ */
				background: linear-gradient(to bottom, #2aaf05 0%,#398e33 65%,#45843c 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aaf05', endColorstr='#45843c',GradientType=0 ); /* IE6-9 */
			}
		}
	}
}

//end navigation 

.banner {
	width:100%;
	height:125px;
	min-width:540px;
	background-image: url(image_path('CoverPicWeb.jpeg'));
	background-size:100%;
	background-repeat:no-repeat;
}

.container {
	margin:auto;
	width:800px;
	background-color:white;
}

.hidden {
	display:none;
}

// All Forms

form {
	display:block;
	font-size:15px;
	font-family: Roboto,Arial,sans-serif;
	font-style:normal;
	font-weight:300;
	
	input {
		border:1px solid #d9d9d9;
		border-top: 1px solid #c0c0c0;
		padding:10px;
		font:inherit;
	}
}