// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
	padding-left:10%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#404040;
	padding-bottom:25px;
	
	.welcome-container {
		height:60px;
		
		.welcome-header {
			display:block;
			border-bottom:1px solid lightgray;
			min-width:720px;
		
			h1 {
				display:inline-block;
				width:150px;
			}
		
			.welcome-nav {
				float:right;
				display:inline-block;
				margin-left:25px;
				padding:21px 0;
		
				li {
					display:inline;
					padding:10px 25px;
					margin:10px 0;
					border-bottom:1px solid transparent;
					transition: border-color .5s;
					-webkit-transition: border-color 0.5s;
				
					a {
						text-decoration:none;
						position:relative;
						color:#404040;
					}
				}
				
				li:hover {
					border-bottom:1px solid gray;
					transition: border-color .5s;
					-webkit-transition: border-color 0.5s;
				}
			}
		}
	}
	
	.content {
		.welcome-info {
			li {
				h3 {
				}
				p {
					color:black;
				}
			}
		}
	}
}

#directions {
	position:relative;
	height:0;
	top:-290px;
	left:40px;
	
	#origin {
		-webkit-box-shadow: 3px 3px 15px 0px rgba(105,105,105,1);
		-moz-box-shadow: 3px 3px 15px 0px rgba(105,105,105,1);
		box-shadow: 3px 3px 15px 0px rgba(105,105,105,1);
		border:none;
		padding:2px;
		font:inherit;
		vertical-align:250px;
	}
}

#map-canvas { 
	height: 300px;
	width: 399px;
}

#directions-panel {
  height: 298px;
  float: right;
  width: 318px;
  overflow: auto;
	position:relative;
	left:-1px;
	border:1px solid white;
	
	.address-hours {
		padding-top:25px;
		padding-left:25px;
	}
}

#map-canvas {
  margin-right: 400px;
}

@media print {
  #map-canvas {
    height: 500px;
    margin: 0;
  }

  #directions-panel {
    float: none;
    width: auto;
  }
}

//for fixed scrolling about welcome header

.fixed {
	z-index:100;
	background-color:white;
	position:fixed;
	top:0;
	display:block;
}