// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
	padding-left:10%;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#404040;
	padding-bottom:50px;
	
	.welcome-header {
		display:block;
		border-bottom:1px solid lightgray;
		min-width:650px;
		
		h1 {
			display:inline-block;
			width:150px;
		}
		
		.welcome-nav {
			float:right;
			display:inline-block;
			margin-left:25px;
		
			li {
				display:inline;
				padding:0px 25px;
				
				a {
					text-decoration:none;
					position:relative;
					top:25px;
				}
				
				a:hover {
					text-decoration:underline;
				}
			}
		}
	}
	
	.content {
		.welcome-info {
			li {
				h3 {
				}
				p {
					color:black;
				}
			}
		}
	}
}